

<h3>Single Selection</h3>
<p-tree [value]="filesTree2" selectionMode="single" [(selection)]="selectedFile"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
<div style="margin-top:8px">Selected Node: {{selectedFile ? selectedFile.label : 'none'}}</div>

<h3>DragDrop</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-3">
        <h4>Files</h4>
        <p-tree [value]="filesTree7" draggableNodes="true" droppableNodes="true" dragdropScope="files"></p-tree>
    </div>

    <div class="ui-g-12 ui-md-1" style="text-align:center">
        <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i>
    </div>

    <div class="ui-g-12 ui-md-3">
        <h4>Server 1</h4>
        <p-tree [value]="filesTree8" draggableNodes="true" droppableNodes="true" dragdropScope="files"></p-tree>
    </div>

    <div class="ui-g-12 ui-md-1" style="text-align:center">
        <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i>
    </div>

    <div class="ui-g-12 ui-md-3">
      <h4>Server 2</h4>
      <p-tree (onNodeDrop) = "onNodeDrop($event)" [value]="filesTree9" draggableNodes="true" droppableNodes="true" dragdropScope="other"></p-tree>
    </div>

    <div class="ui-g-12 ui-md-1">

    </div>
</div>


<h3>TEST</h3>
<p-tree [value]="filesTree99" selectionMode="single" [(selection)]="selectedFile99"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
<div style="margin-top:8px">Selected Node: {{selectedFile99 ? selectedFile99.label : 'none'}}</div>
