<div class="content-section implementation">
<h3>{{type}}</h3>
    <p-table [columns]="cols" [value]="data?.value">
        <!-- <ng-template pTemplate="caption">
            List of data
        </ng-template> -->
        <ng-template pTemplate="header">
                <tr>
                    <th style="width: 70%;">
                        title
                        <!-- <div style="font-size:1.3em; color:Tomato">
                            <i class="fas fa-tasks"></i>
                        </div> -->
                    </th>
                    <th class="ui-p-4">
                        <div style="font-size:1.3em; color:Tomato">
                            <i class="fas fa-comments"></i>
                        </div>
                    </th>
                    <th class="ui-p-5">
                        <div style="font-size:1.3em; color:Tomato">
                            <i class="fas fa-eye"></i>
                        </div>
                    </th>
                    
                    <th class="ui-p-6">
                        <div style="font-size:1.3em; color:Tomato">
                            <i class="fas fa-clock"></i>
                        </div>
                    </th>
              
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car style="margin-top: 20px">
                <tr>
                    <td><i style="color: red" class="fas fa-paper-plane" *ngIf= "car.today == true"></i> <a [routerLink]="['/content',type, page, car._id ]" >{{car.title}}</a></td>
                    <td class="ui-p-4">&#123;&#123;ui-p-4&#125;&#125;</td>
                    <td class="ui-p-5">&#123;&#123;ui-p-5&#125;&#125;</td>
                    <td class="ui-p-6">&#123;&#123;ui-p-6&#125;&#125;</td>
                </tr>
            </ng-template>
        <ng-template pTemplate="summary">
            There are &#123;&#123;data?.length&#125;&#125; data
        </ng-template>
    </p-table>
    <p-paginator [rows]="10" [totalRecords]=total (onPageChange)="paginate($event)"#p></p-paginator>

</div>