<div class="card login-panel ui-fluid">
    <div class="login-panel-content">
        <div class="ui-g">
            <div class="ui-g-3" style="text-align:left;">
                <img src="https://www.primefaces.org/avalon-ng/assets/layout/images/login/icon-login.svg">
            </div>
            <div class="ui-g-9" style="text-align:right;">
                <h2 class="welcome-text">Welcome Guest</h2>
                <span class="guest-sign-in">Sign Up to motherbirds</span>
            </div>
            <div class="ui-g-12" style="text-align:left;">
                <label class="login-label">Username</label>
                <div class="login-input">
                    <input type="text" class="ui-inputtext ui-widget ui-state-default ui-corner-all">
                </div>
            </div>
            <div class="ui-g-12" style="text-align:left;">
                <label class="login-label">Password</label>
                <div class="login-input">
                    <input type="password" class="ui-inputtext ui-widget ui-state-default ui-corner-all">
                </div>
            </div>
            <div class="ui-g-12 button-pane">
                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                    <span class="ui-button-text ui-c">Sign Up</span>
                </button>
            </div>
            <!-- <div class="ui-g-12 ui-md-6 link-pane">
                        <a href="#">Forget Password?</a>
                    </div> -->
        </div>
    </div>
</div>

<h3>Bar Chart</h3>	
<app-bar-chart *ngIf="chartData" [data]="chartData"></app-bar-chart>
<app-comments></app-comments>