<div class="content-section introduction">
    <div>
        <span class="feature-title">{{data?.title}}</span>
        <!-- <span>AutoComplete is an input component that provides real-time suggestions when being typed.</span> -->
    </div>
</div>

<!-- <h3>Javascript</h3>
<pre>
<code class="language-javascript" pCode ngNonBindable>
var map;
    function initMap() &#123; 
        map = new google.maps.Map(document.getElementById('map'), &#123;
        center: &#123;lat: -34.397, lng: 150.644&#125;,
        zoom: 8
    &#125;);
&#125;
</code>
</pre> -->

 
<ng-template [ngIf]="type == 'star' || type == 'body'" [ngIfElse]="loggedOut">
    <div class="content-section implementation">
        <div *ngFor="let img of data?.imgs" style="text-align: center">
            <img style="max-width: -webkit-fill-available" src="{{img.src}}">
        </div>
        <div>
            <a [routerLink]="['/content',type,page]">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> return</a>
        </div>
    </div>
</ng-template>
      
<ng-template #loggedOut>
    <div class="content-section implementation">
        <div [innerHTML]="data?.content"></div>
    </div>
</ng-template>

<app-comments></app-comments>

<!-- <div class="content-section implementation">
    <div *ngFor="let img of data?.imgs" style="text-align: center">
        <img style="max-width: -webkit-fill-available" src="{{img.src}}" >
    </div>
    <div>
        <a [routerLink]="['/content',type,page]"> <i class="fa fa-arrow-left" aria-hidden="true"></i> return</a>
    </div>

</div> -->

